@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site uses cookies to enhance the user experience. By continuing to browse the site, you agree to our use of cookies.</p>
